* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #c5c3c6;
}

.classes {
    display: flex;
    height: 88vh;
    width: 100vw;
    overflow: scroll;
    flex-wrap: wrap;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #c5c3c6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.enter {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* button style */

button {
    border-color: transparent;
    display: inline-block;
}

#modal {
    position: relative;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.8);
}


/* Modal Content */

#modal-content {
    padding: 1000px;
    position: relative;
    background-color: #c5c3c6;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    overflow: hidden;
    z-index: 100;
    padding-bottom: 30px;
}

#modal-content form input {
    margin-right: 20px;
}

input,
select {
    padding: 10px;
    margin: 10px;
    width: 98%;
}

input[type=submit] {
    margin-top: 15px;
    background-color: #1985a1;
    border: 0;
}

.goal {
    display: flex;
    justify-content: space-evenly;
    max-height: 6vh;
    position: relative;
    bottom: 0vh;
    margin: 10px;
    width: 100%;
}

.goal input {
    width: auto;
}


/* card styling */

.column {
    float: left;
    width: 20vw;
    padding: 0 10px;
}

.row {
    margin: 0 -5px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .column {
        width: 100vw;
        display: block;
        margin-bottom: 20px;
    }
    .classes #add {
        padding: 15px;
        max-width: 60px;
        max-height: 60px;
    }
    .classes #add img {
        max-width: 60px;
        max-height: 60px;
    }
}

.card {
    box-shadow: 0 4px 8px 0 #1985a1;
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    margin: 5px;
    margin-top: 10px;
    width: auto;
    max-width: 300px;
}

.classes #add {
    background-color: inherit;
    padding: 30px;
    max-width: 100px;
    max-height: 100px;
}